# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
*  Python
*  R
*  SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Plotly
4. Seaborn

|Data Science Tools | 
|------------------- |
|TensorFlow |
| Apache Hadoop |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
(3*4)+5

17

In [23]:
(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

 __Objectives:__  
- Python
- SQL
- R

## Author
Kjartan Martinsson